.users {
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 3rem;
  margin-bottom: 1rem;
}

.userContainer {
  display: flex;

  justify-content: space-between;
  align-items: center;

  height: 6rem;
}

.userImgContainer {
  height: 100%;
  width: 10%;

  overflow: hidden;
}

.userImg {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.userContent {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 88%;

  padding: 1rem;
}

.userData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 3rem;
}

.paginationContainer > *:not(:last-child) {
  margin-right: 0.5rem;
}
