.main {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.navbar {
  padding: 1rem;
  background-color: darkgoldenrod;
}

.routes {
  padding: 1rem;

  color: #1a1a1a;
  background-color: #f9f9f9;
}
