.chats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  padding: 0 1rem 0 0;

  border-right: 2px solid lightgrey;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 3rem;
  margin-bottom: 1rem;
}

.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatImg {
  width: 40px;
  height: 40px;

  margin-right: 0.5rem;
}

.form {
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  margin-bottom: 1rem;
  padding: 0.6rem 1rem;

  border-radius: 0.6rem;
  border: 1px solid #1a1a1a;

  background-color: #242424;
}

.formErrors {
  font-size: 0.8rem;
  color: red;
}

.button {
  border: none;
  padding: 0;

  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.87);
}

.input {
  width: 100%;

  border: none;

  font-size: 1.4rem;
  background-color: inherit;
}

.input:focus {
  outline: none;
}
